.element {
  display: grid;
  grid-template-areas: "v c";
  grid-template-columns: 6fr 6fr;
}

.infoValue {
  grid-area: "v";
  text-align: center;
}

.infoChange {
  grid-area: "c";
  text-align: left;
}