.news {
  margin: 0 auto;
  padding: 10px;
  text-align: center;
}

.show {
  cursor: pointer;
  margin: 50px;
}

.page {
  margin: 10px;
  cursor: pointer;
  font-size: 22px;
  font-weight: solid;
}

.page:hover{
  text-decoration: underline;
}