.but {
  width: 300px;
  height: 60px;
  background-color: rgb(55, 69, 148);
  border-radius: 24px;
  margin-top: 20px;
  color: white;

}

@media only screen and (max-width: 600px) {
  .but {
    width: 240px;
    height: 40px;

  }

}
