textarea {
  width: 420px;
  height: 260px;
  border-radius: 24px;
  font-size: 24px;
  resize: none;
}

.validate {
  border: 2px solid red;
}

@media only screen and (max-width: 600px) {
  textarea {
    width: 280px;
  }

}