.pages {
  padding-top:18px ;
  font-size: 24px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 95px);
  justify-content: center;
}

.pages a {
  text-align: center;
  color: white;
  font-weight: 500;
  text-decoration: none;
}

.active {
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  .pages {
    font-size: 18px;
  }

}