p {
  cursor: pointer;
}
.myposts {
  padding: 20px;
  display: block;
}


.splitedButtons {
  display: block;
}

.postsGrid{
  background-color: rgb(230, 229, 229);
  display: grid;
  grid-template-areas: "i c";
  grid-template-columns: 8fr 4fr;
  box-shadow: 5px 5px 5px 5px grey;
  margin: 20px auto;
  padding: 10px;
  border-radius: 12px;
  text-align: left;
}
  

.postItem{
  grid-area: i;
}

.postControls{
  padding-top: 30px;
  grid-area: c;

}

.sortPosts{
  float: right;
}
