.login {
  display: block;
  margin: 20px auto;
  text-align: center;
  color: black;
}

.toReg {
  padding: 20px;
  cursor: pointer;
  text-decoration-style: solid;
  font-size: 33px;
  text-decoration: underline;
  display: block;
  color: black;
}

.formBox{
  display: block;
  margin: auto;
  border-radius: 32px;
  padding: 10px 0;
}

@media only screen and (max-width: 600px) {
  input {
    width: 240px;
    height: 30px;
  }

}