.modalBg {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  display: block;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
}

.modalWin {
  border-radius: 12px;
  padding: 10px;
  background: #fff;
  display: block;
  min-height: 300px;
  margin: 10px, auto;
  padding: 40px;
  position: fixed;
  text-align: center;
  top: 20%;
  left: 33%;
  width: 500px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

img {
  width: 300px;
  height: 300px;
  border-radius: 100%;
}
