.messages {
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    display: grid;
    grid-template-areas: "m a";
    grid-template-columns: 6fr 6fr;
}

.addMessage {
    grid-area: "a";
}

.myMessages {
    grid-area: "m";
}