.form {
  height: 100%;
  padding: 10px;
  display: block;
  margin: 10px, auto;
  padding: 40px;
  text-align: center;
}

.formGrid {
  display: grid;
  grid-template-areas:
    "left left"
    "right right";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 6fr 6fr;
}

.leftPart {
  grid-area: "left";
}

.rightPart {
  grid-area: "right";
}

.submit {
  display: block;
  margin-top: 280px;
}
