.info {
  display: grid;
  grid-template-areas: "a d";
  grid-template-columns: 6fr 6fr;
  align-items: start;
  text-align: center;
  padding: 30px;
}

.data {
  grid-area: "d";
  float: left;
}

.ava {
  grid-area: "a";
  text-align: center;
}

.myposts {
  padding-top: 20px;
}

.info li {
  list-style: none;
}

.ava img {
  width: 250px;
  height: 250px;
  margin-left: 20px;
}

.infoChange {
  text-align: center;
}

li {
  cursor: pointer;
}
