.info {
  display: grid;
  grid-template-columns: repeat(auto-fit, 320px);
  justify-content: center;
  text-align: center;
  column-gap: 300px;
}

.data {
  float: left;
}

.ava {
  text-align: center;
}

.myposts {
  padding-top: 20px;
}

.info li {
  list-style: none;
}

.ava img {
  width: 250px;
  height: 250px;
  margin-left: 20px;
}

.infoChange {
  text-align: center;
}

li {
  cursor: pointer;
}
