* {
  outline: none;

}

body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Rubik', sans-serif;}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  color: black;
  font-weight: 700;
}

.app-wraper {
  width: 1200px;
  margin: 0 auto;
  display: grid;

  grid-template-areas: "h h"
    "c c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
}

.header {
  margin: 10px;
  background-color: cadetblue;
  grid-area: h;
  border-radius: 16px;
}

.content {
  margin: 10px;
  border-radius: 16px;
  background-color: rgb(245, 245, 245);
  grid-area: c;
}